body {
  font-family: Monaco, monospace;
  margin: 20px auto;
  max-width: 900px;
  min-width: 600px;
  width: 100%;
}

header {
  
}

.submit-repo {
  margin-bottom: 1em;
  label {
    font-size: 16px;
  }
  input[type=text] {
    border: 2px solid #4183C4;
    color: #444;
    font-size: 18px;
    padding: 0.4em;
    width: 480px;
  }
}